#main-container {
	max-width: 970px;
	margin: 0 auto;
}

#profile-pic {
	width: 150px;
	height: auto;
	border-style:solid;
	border-radius: 5px;
}

#jumbo-pic {
	width: 600px;
	height: auto;
	margin: 15px auto;
}

.social-row {
	text-align: center;
}

.social-link {
	&:hover, &:focus {
		text-decoration: none;
	}
}

.social-icon {
	display: inline-block;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	
	&:hover {
		-webkit-filter: brightness(130%);
		filter: brightness(130%);
	}
}

.resource-image {
	width: 200px;
	height: auto;
	margin: 15px auto;
}

#ovrload-screenshot {
    margin: 0 auto 15px;
}