.postContainer {
  padding: 25px 0 0;

  .postDate {
    margin-bottom: 15px;
  }

  .blogBody > h1,
  .blogBody > h2,
  .blogBody > h3,
  .blogBody > h4,
  .blogBody > h5,
  .blogBody > h6,
  .blogBody > p {
    margin-bottom: 10px;
  }
}