.hero {
  margin: 25px auto;
  display: block;
  width: 100%;
  max-width: 350px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin: 25px auto;
}
